.cor1 {
    background-color: #0424D9;
    height: 50px;
    width: 50px;
    
}
.cor2{
    background-color: #031CA6;
    height: 50px;
    width: 50px;
    
}
.cor3{
    background-color: #03178C;
    height: 50px;
    width: 50px;
    
}
.cor4{
    background-color: #3DADF2;
    height: 50px;
    width: 50px;
    
}
.all{
    
}